
.LeftUser {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: rgb(230, 16, 16);
    background-color: #F2740D;
    margin-top: 3px;
  }
  
  .LeftUser h3 {
    display:inline;
    padding: 10px 13px;
    color: white;
    
  }
  
  .LeftUser button {
    display: inline;
    border-color: white;
    background-color: rgba(0, 0, 0, 0);
  }
  