.A1{
    width: 70%;
    align: centre;
    margin: 0 auto;
    margin-top: 60px;
}
#one{
        height: 10px;
        
        
 }
 button{
    margin-right: auto;
    position: fixed;
    bottom: 0;
    right:12%
 }
 .oneQA{
    
 }
 .answer{
    margin-top: 5px;
    background-color: red;
 }
.ip1{
    width:70%;
    position: fixed;
    bottom: 0;
    
}
.question{margin-top: 5px;
    background-color: rgb(60, 0, 255);
}
.sendMsg{
    margin: auto auto;
    
} 