.A1{
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
}
#one{
        height: 30px;
        
        
 }

 .Chat-Button{
    margin-right: auto;
    position: fixed;
    bottom: 0;
    right:7%
 }
 .oneQA{
    
 }
 .answer{
    margin-top: 5px;
    background-color: red;
 }
.ip1{
    width:70%;
    position: fixed;
    bottom: 0;
    height: 30px;
    border: none; outline: none; 
    background-color: rgb(255, 123, 0);
}
.question{margin-top: 5px;
    background-color: rgb(60, 0, 255);
}
.sendMsg{
    margin: auto auto;
    position: fixed;
    bottom: 0;
    
} 